awsSecretSniffer/.vs/awsSecretSniffer/CopilotIndices/18.7.1253.33689/SemanticSymbols.db
*.vsidx
awsSecretSniffer/.vs/awsSecretSniffer.slnx/v18/.suo
awsSecretSniffer/.vs/awsSecretSniffer.slnx/v18/DocumentLayout.backup.json
awsSecretSniffer/.vs/awsSecretSniffer.slnx/v18/DocumentLayout.json
awsSecretSniffer/.vs/awsSecretSniffer/CopilotIndices/18.7.1253.33689/CodeChunks.db
awsSecretSniffer/.vs/awsSecretSniffer/CopilotIndices/18.7.1253.33689/CodeChunks.db-shm
awsSecretSniffer/.vs/awsSecretSniffer/CopilotIndices/18.7.1253.33689/CodeChunks.db-wal
awsSecretSniffer/.vs/awsSecretSniffer/CopilotIndices/18.7.1253.33689/SemanticSymbols.db-shm
awsSecretSniffer/.vs/awsSecretSniffer/CopilotIndices/18.7.1253.33689/SemanticSymbols.db-wal
awsSecretSniffer/.vs/awsSecretSniffer/CopilotIndices/18.8.1083.22234/CodeChunks.db
awsSecretSniffer/.vs/awsSecretSniffer/CopilotIndices/18.8.1083.22234/SemanticSymbols.db
awsSecretSniffer/awsSecretSniffer.slnx
